doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          li
            a(href='/') Accueil
          li
            a(href='/users/new')  Créer un compte
          li
            a(href='/users') Afficher la liste des utilisateurs
          li
            a(href='/messages') Afficher la liste des messages
    block content

    block javascripts
