extends ../layout

block content
    if messages
        ul#list-messages
            each message in messages
                li=message.content
    else
        p pas de messages

    form#new-message(action='messages' method='POST')
        textarea(name='content' placeholder='Mon message')
        input(type='submit')