extends ../layout


block content
    form(action='/users' method='POST')
        input(type='text' name='firstname' placeholder='Prénom' required)
        input(type='text' name='lastname' placeholder='Nom' required)
        input(type='email' name='mail' placeholder='mail' required)
        input(type='text' name='phone' placeholder='phone')
        input(type='text' name='linkedin' placeholder='linkedin')
        input(type='text' name='avatar' placeholder='avatar')
        input(type='text' name='info' placeholder='info')
        input(type='submit')
